body {
    margin: 0;
    padding: 0;
    /* background: #262626; */
    font-family: sans-serif;
}

#container {
    position: relative;
    width: 1000px;
    margin: 150px auto 0;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 440px;
    grid-gap: 40px;
}

#container .card {
    position: relative;
    background: #ccc;
    /* overflow: hidden; */
    border-radius: 10px;
    transition: 0.5s;
}

.imgContainer {

}
.card .content {
    /* color: #fff; */
}